[submodule "Backend"]
	path = Backend
	url = https://github.com/einToast/MarioKart_Backend
	branch = master
[submodule "Frontend"]
	path = Frontend
	url = https://github.com/einToast/MarioKart_Frontend
	branch = main
[submodule "Deployment"]
	path = Deployment
	url = https://github.com/einToast/MarioKart_Deployment
	branch = main
[submodule "Schedule"]
	path = Schedule
	url = https://github.com/einToast/MarioKart_Schedule
	branch = main
[submodule "Evalset"]
	path = Evalset
	url = https://github.com/einToast/MarioKart_Evalset
	branch = main
[submodule "OCR"]
	path = OCR
	url = https://github.com/einToast/MarioKart_OCR
